<%@ Master Language="C#" MasterPageFile="~/masterpages/Submaster.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderId="SubContent" runat="server">
	<div id="content-carousel" class="touchcarousel black-and-white"> 
		<umbraco:Macro nodeType="1078" Alias="ListSubPages" runat="server"></umbraco:Macro>
	</div>
</asp:Content>