<%@ Master Language="C#" MasterPageFile="~/masterpages/Submaster.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderId="SubContent" runat="server">

	<umbraco:Macro Alias="ShowMap" runat="server"></umbraco:Macro>

	<div class="map-overlay">
		<umbraco:Macro Alias="SingleEvent" runat="server"></umbraco:Macro>
		<umbraco:Macro Alias="ICalExportLink" runat="server"></umbraco:Macro>
	</div>
</asp:Content>