<%@ Master Language="C#" MasterPageFile="~/masterpages/Submaster.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderId="SubContent" runat="server">
	<umbraco:Macro Alias="HomepageCarousel" runat="server" />
</asp:Content>