<%@ Master Language="C#" MasterPageFile="~/masterpages/Master.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderId="BodyContent" runat="server">
	<!-- Insert "BodyContent" markup here -->
</asp:Content>