<%@ Master Language="C#" MasterPageFile="~/masterpages/Submaster.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderId="SubContent" runat="server">
	
	<div id="project-carousel" class="touchcarousel black-and-white"> 
		<umbraco:Macro Alias="SingleProject" runat="server"></umbraco:Macro>
	</div>
	
</asp:Content>