<%@ Master Language="C#" MasterPageFile="~/masterpages/Master.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="BodyContent" runat="server">
	
	<!-- navigation here -->
	<div id="content-wrap">
		<asp:ContentPlaceHolder Id="SubContent" runat="server">
			<!-- Insert default "SubContent" markup here -->
		</asp:ContentPlaceHolder>
	</div>
</asp:content>