<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Article ANY>
<!ATTLIST Article id ID #REQUIRED>
<!ELEMENT Admin ANY>
<!ATTLIST Admin id ID #REQUIRED>
<!ELEMENT Blog ANY>
<!ATTLIST Blog id ID #REQUIRED>
<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT Event ANY>
<!ATTLIST Event id ID #REQUIRED>
<!ELEMENT Events ANY>
<!ATTLIST Events id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT MemberSection ANY>
<!ATTLIST MemberSection id ID #REQUIRED>
<!ELEMENT Portfolio ANY>
<!ATTLIST Portfolio id ID #REQUIRED>
<!ELEMENT Project ANY>
<!ATTLIST Project id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1055" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1053" template="1054" sortOrder="0" createDate="2013-02-19T14:52:06" updateDate="2013-02-20T17:13:45" nodeName="Home" urlName="home" writerName="admin" creatorName="admin" path="-1,1055" isDoc="">
    <Events id="1077" parentID="1055" level="2" writerID="0" creatorID="0" nodeType="1071" template="1072" sortOrder="0" createDate="2013-02-20T11:42:20" updateDate="2013-02-20T11:42:22" nodeName="Events" urlName="events" writerName="admin" creatorName="admin" path="-1,1055,1077" isDoc="">
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoRedirect />
      <umbracoUrlName />
      <umbracoUrlAlias />
      <umbracoInternalRedirectId />
      <metaTitle />
      <metaDescription><![CDATA[]]></metaDescription>
      <metaKeywords><![CDATA[]]></metaKeywords>
      <Event id="1080" parentID="1077" level="3" writerID="0" creatorID="0" nodeType="1078" template="1079" sortOrder="0" createDate="2013-02-20T11:44:55" updateDate="2013-02-20T12:16:50" nodeName="Adult Soft Play" urlName="adult-soft-play" writerName="admin" creatorName="admin" path="-1,1055,1077,1080" isDoc="">
        <eventStartDate>2013-03-18T09:30:00</eventStartDate>
        <eventEndDate>2013-04-12T21:00:00</eventEndDate>
        <eventLocation><![CDATA[55.8548245,-4.2495890000000145,15]]></eventLocation>
        <eventLink>
          <multi-url-picker />
        </eventLink>
        <pageHeading>Adult Soft Play</pageHeading>
        <pageMedia />
        <bodyText><![CDATA[]]></bodyText>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoRedirect />
        <umbracoUrlName />
        <umbracoUrlAlias />
        <umbracoInternalRedirectId />
        <metaTitle />
        <metaDescription><![CDATA[]]></metaDescription>
        <metaKeywords><![CDATA[]]></metaKeywords>
      </Event>
    </Events>
    <Portfolio id="1076" parentID="1055" level="2" writerID="0" creatorID="0" nodeType="1069" template="1070" sortOrder="1" createDate="2013-02-20T11:42:10" updateDate="2013-02-20T11:42:12" nodeName="Work" urlName="work" writerName="admin" creatorName="admin" path="-1,1055,1076" isDoc="">
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoRedirect />
      <umbracoUrlName />
      <umbracoUrlAlias />
      <umbracoInternalRedirectId />
      <metaTitle />
      <metaDescription><![CDATA[]]></metaDescription>
      <metaKeywords><![CDATA[]]></metaKeywords>
      <Project id="1101" parentID="1076" level="3" writerID="0" creatorID="0" nodeType="1099" template="1100" sortOrder="0" createDate="2013-02-20T12:38:37" updateDate="2013-02-20T12:38:40" nodeName="Static State" urlName="static-state" writerName="admin" creatorName="admin" path="-1,1055,1076,1101" isDoc="">
        <pageHeading />
        <pageMedia><![CDATA[]]></pageMedia>
        <bodyText><![CDATA[]]></bodyText>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoRedirect />
        <umbracoUrlName />
        <umbracoUrlAlias />
        <umbracoInternalRedirectId />
        <metaTitle />
        <metaDescription><![CDATA[]]></metaDescription>
        <metaKeywords><![CDATA[]]></metaKeywords>
      </Project>
    </Portfolio>
    <Blog id="1075" parentID="1055" level="2" writerID="0" creatorID="0" nodeType="1060" template="1061" sortOrder="2" createDate="2013-02-20T11:41:57" updateDate="2013-02-20T11:42:00" nodeName="Blog" urlName="blog" writerName="admin" creatorName="admin" path="-1,1055,1075" isDoc="">
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoRedirect />
      <umbracoUrlName />
      <umbracoUrlAlias />
      <umbracoInternalRedirectId />
      <metaTitle />
      <metaDescription><![CDATA[]]></metaDescription>
      <metaKeywords><![CDATA[]]></metaKeywords>
      <BlogPost id="1083" parentID="1075" level="3" writerID="0" creatorID="0" nodeType="1073" template="1074" sortOrder="0" createDate="2013-02-20T12:01:12" updateDate="2013-02-20T12:01:38" nodeName="Welcome to my new website" urlName="welcome-to-my-new-website" writerName="admin" creatorName="admin" path="-1,1055,1075,1083" isDoc="">
        <postDate />
        <tags><![CDATA[]]></tags>
        <pageHeading>Welcome!</pageHeading>
        <bodyText><![CDATA[<p>This is the new website!</p>]]></bodyText>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoRedirect />
        <umbracoUrlName />
        <umbracoUrlAlias />
        <umbracoInternalRedirectId />
        <metaTitle />
        <metaDescription><![CDATA[]]></metaDescription>
        <metaKeywords><![CDATA[]]></metaKeywords>
      </BlogPost>
    </Blog>
    <MemberSection id="1111" parentID="1055" level="2" writerID="0" creatorID="0" nodeType="1109" template="1110" sortOrder="4" createDate="2013-02-20T14:50:31" updateDate="2013-02-20T14:53:18" nodeName="Member" urlName="member" writerName="admin" creatorName="admin" path="-1,1055,1111" isDoc="">
      <umbracoNaviHide>1</umbracoNaviHide>
      <umbracoRedirect>1112</umbracoRedirect>
      <Admin id="1112" parentID="1111" level="3" writerID="0" creatorID="0" nodeType="1104" template="1106" sortOrder="0" createDate="2013-02-20T14:52:20" updateDate="2013-02-20T14:52:54" nodeName="Login" urlName="login" writerName="admin" creatorName="admin" path="-1,1055,1111,1112" isDoc="">
        <pageHeading>Login</pageHeading>
        <pageMedia><![CDATA[]]></pageMedia>
        <bodyText><![CDATA[]]></bodyText>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoRedirect />
        <umbracoUrlName />
        <umbracoUrlAlias />
        <umbracoInternalRedirectId />
        <metaTitle />
        <metaDescription><![CDATA[]]></metaDescription>
        <metaKeywords><![CDATA[]]></metaKeywords>
      </Admin>
      <Admin id="1116" parentID="1111" level="3" writerID="0" creatorID="0" nodeType="1104" template="1115" sortOrder="1" createDate="2013-02-20T15:47:37" updateDate="2013-02-20T16:28:02" nodeName="Register" urlName="register" writerName="admin" creatorName="admin" path="-1,1055,1111,1116" isDoc="">
        <pageHeading />
        <pageMedia><![CDATA[]]></pageMedia>
        <bodyText><![CDATA[]]></bodyText>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoRedirect />
        <umbracoUrlName />
        <umbracoUrlAlias />
        <umbracoInternalRedirectId />
        <metaTitle />
        <metaDescription><![CDATA[]]></metaDescription>
        <metaKeywords><![CDATA[]]></metaKeywords>
      </Admin>
    </MemberSection>
    <siteName>Alex Allan</siteName>
    <homepageCarousel>
      <DAMP fullMedia="">
        <mediaItem>
          <Image id="1098" version="1f71d521-d659-4f00-815a-85f19ab2a169" parentID="1088" level="2" writerID="0" nodeType="1032" template="0" sortOrder="0" createDate="2013-02-20T12:28:09" updateDate="2013-02-20T12:28:09" nodeName="Static State" urlName="staticstate" writerName="admin" nodeTypeAlias="Image" path="-1,1088,1098">
            <umbracoFile>/media/318/static_state.jpg</umbracoFile>
            <umbracoWidth>400</umbracoWidth>
            <umbracoHeight>540</umbracoHeight>
            <umbracoBytes>46416</umbracoBytes>
            <umbracoExtension>jpg</umbracoExtension>
            <cropped>
              <crops date="2013-02-20T12:28:09">
                <crop name="cropThumb" x="0" y="0" x2="400" y2="400" url="/media/318/static_state_cropThumb.jpg" />
              </crops>
            </cropped>
          </Image>
        </mediaItem>
        <mediaItem>
          <Image id="1097" version="875f519e-6d41-4a9e-ba20-213a39328f13" parentID="1088" level="2" writerID="0" nodeType="1032" template="0" sortOrder="0" createDate="2013-02-20T12:28:09" updateDate="2013-02-20T12:28:09" nodeName="Merged" urlName="merged" writerName="admin" nodeTypeAlias="Image" path="-1,1088,1097">
            <umbracoFile>/media/312/merged.jpg</umbracoFile>
            <umbracoWidth>900</umbracoWidth>
            <umbracoHeight>540</umbracoHeight>
            <umbracoBytes>59000</umbracoBytes>
            <umbracoExtension>jpg</umbracoExtension>
            <cropped>
              <crops date="2013-02-20T12:28:09">
                <crop name="cropThumb" x="0" y="0" x2="540" y2="540" url="/media/312/merged_cropThumb.jpg" />
              </crops>
            </cropped>
          </Image>
        </mediaItem>
        <mediaItem>
          <Image id="1096" version="89aac6ef-b9a9-4763-bf20-aa629843f269" parentID="1088" level="2" writerID="0" nodeType="1032" template="0" sortOrder="0" createDate="2013-02-20T12:28:09" updateDate="2013-02-20T12:28:09" nodeName="Img 6485" urlName="img6485" writerName="admin" nodeTypeAlias="Image" path="-1,1088,1096">
            <umbracoFile>/media/306/img_6485.jpg</umbracoFile>
            <umbracoWidth>518</umbracoWidth>
            <umbracoHeight>540</umbracoHeight>
            <umbracoBytes>84007</umbracoBytes>
            <umbracoExtension>jpg</umbracoExtension>
            <cropped>
              <crops date="2013-02-20T12:28:09">
                <crop name="cropThumb" x="0" y="0" x2="518" y2="518" url="/media/306/img_6485_cropThumb.jpg" />
              </crops>
            </cropped>
          </Image>
        </mediaItem>
        <mediaItem>
          <Image id="1095" version="36a37c9a-8f5a-4966-9984-424b57c446a9" parentID="1088" level="2" writerID="0" nodeType="1032" template="0" sortOrder="0" createDate="2013-02-20T12:28:08" updateDate="2013-02-20T12:28:09" nodeName="Img 5851" urlName="img5851" writerName="admin" nodeTypeAlias="Image" path="-1,1088,1095">
            <umbracoFile>/media/300/img_5851.jpg</umbracoFile>
            <umbracoWidth>440</umbracoWidth>
            <umbracoHeight>540</umbracoHeight>
            <umbracoBytes>76417</umbracoBytes>
            <umbracoExtension>jpg</umbracoExtension>
            <cropped>
              <crops date="2013-02-20T12:28:08">
                <crop name="cropThumb" x="0" y="0" x2="440" y2="440" url="/media/300/img_5851_cropThumb.jpg" />
              </crops>
            </cropped>
          </Image>
        </mediaItem>
        <mediaItem>
          <Image id="1092" version="d6f1e7bc-be13-44f8-94c9-12ec288cbaf0" parentID="1088" level="2" writerID="0" nodeType="1032" template="0" sortOrder="0" createDate="2013-02-20T12:28:08" updateDate="2013-02-20T12:28:08" nodeName="Alex Allan Sculpture 86" urlName="alexallansculpture86" writerName="admin" nodeTypeAlias="Image" path="-1,1088,1092">
            <umbracoFile>/media/282/alex_allan_sculpture-86.jpg</umbracoFile>
            <umbracoWidth>810</umbracoWidth>
            <umbracoHeight>540</umbracoHeight>
            <umbracoBytes>98103</umbracoBytes>
            <umbracoExtension>jpg</umbracoExtension>
            <cropped>
              <crops date="2013-02-20T12:28:08">
                <crop name="cropThumb" x="0" y="0" x2="540" y2="540" url="/media/282/alex_allan_sculpture-86_cropThumb.jpg" />
              </crops>
            </cropped>
          </Image>
        </mediaItem>
        <mediaItem>
          <Image id="1093" version="2bd154f2-d471-46f7-89f7-f8714c2112a8" parentID="1088" level="2" writerID="0" nodeType="1032" template="0" sortOrder="0" createDate="2013-02-20T12:28:08" updateDate="2013-02-20T12:28:08" nodeName="Img 3847" urlName="img3847" writerName="admin" nodeTypeAlias="Image" path="-1,1088,1093">
            <umbracoFile>/media/288/img_3847.jpg</umbracoFile>
            <umbracoWidth>518</umbracoWidth>
            <umbracoHeight>540</umbracoHeight>
            <umbracoBytes>47673</umbracoBytes>
            <umbracoExtension>jpg</umbracoExtension>
            <cropped>
              <crops date="2013-02-20T12:28:08">
                <crop name="cropThumb" x="0" y="0" x2="518" y2="518" url="/media/288/img_3847_cropThumb.jpg" />
              </crops>
            </cropped>
          </Image>
        </mediaItem>
        <mediaItem>
          <Image id="1094" version="7841d124-9380-4310-aef4-0f1f76dbbc14" parentID="1088" level="2" writerID="0" nodeType="1032" template="0" sortOrder="0" createDate="2013-02-20T12:28:08" updateDate="2013-02-20T12:28:08" nodeName="Img 5833" urlName="img5833" writerName="admin" nodeTypeAlias="Image" path="-1,1088,1094">
            <umbracoFile>/media/294/img_5833.jpg</umbracoFile>
            <umbracoWidth>810</umbracoWidth>
            <umbracoHeight>540</umbracoHeight>
            <umbracoBytes>74870</umbracoBytes>
            <umbracoExtension>jpg</umbracoExtension>
            <cropped>
              <crops date="2013-02-20T12:28:08">
                <crop name="cropThumb" x="0" y="0" x2="540" y2="540" url="/media/294/img_5833_cropThumb.jpg" />
              </crops>
            </cropped>
          </Image>
        </mediaItem>
        <mediaItem>
          <Image id="1091" version="ba500b36-1262-441b-938b-35745de18ec7" parentID="1088" level="2" writerID="0" nodeType="1032" template="0" sortOrder="0" createDate="2013-02-20T12:28:08" updateDate="2013-02-20T12:28:08" nodeName="Alex Allan Sculpture 63" urlName="alexallansculpture63" writerName="admin" nodeTypeAlias="Image" path="-1,1088,1091">
            <umbracoFile>/media/276/alex_allan_sculpture-63.jpg</umbracoFile>
            <umbracoWidth>810</umbracoWidth>
            <umbracoHeight>540</umbracoHeight>
            <umbracoBytes>77633</umbracoBytes>
            <umbracoExtension>jpg</umbracoExtension>
            <cropped>
              <crops date="2013-02-20T12:28:08">
                <crop name="cropThumb" x="0" y="0" x2="540" y2="540" url="/media/276/alex_allan_sculpture-63_cropThumb.jpg" />
              </crops>
            </cropped>
          </Image>
        </mediaItem>
        <mediaItem>
          <Image id="1090" version="23ee9adf-c972-4635-849b-56102d72cc2f" parentID="1088" level="2" writerID="0" nodeType="1032" template="0" sortOrder="0" createDate="2013-02-20T12:28:08" updateDate="2013-02-20T12:28:08" nodeName="Alex Allan Sculpture 45" urlName="alexallansculpture45" writerName="admin" nodeTypeAlias="Image" path="-1,1088,1090">
            <umbracoFile>/media/270/alex_allan_sculpture-45.jpg</umbracoFile>
            <umbracoWidth>540</umbracoWidth>
            <umbracoHeight>540</umbracoHeight>
            <umbracoBytes>58135</umbracoBytes>
            <umbracoExtension>jpg</umbracoExtension>
            <cropped>
              <crops date="2013-02-20T12:28:08">
                <crop name="cropThumb" x="0" y="0" x2="540" y2="540" url="/media/270/alex_allan_sculpture-45_cropThumb.jpg" />
              </crops>
            </cropped>
          </Image>
        </mediaItem>
        <mediaItem>
          <Image id="1089" version="17881fc6-89e2-40e8-a604-e6fd7303d306" parentID="1088" level="2" writerID="0" nodeType="1032" template="0" sortOrder="0" createDate="2013-02-20T12:28:07" updateDate="2013-02-20T12:28:08" nodeName="Alex Allan Sculpture 7 Straight Cropped" urlName="alexallansculpture7straightcropped" writerName="admin" nodeTypeAlias="Image" path="-1,1088,1089">
            <umbracoFile>/media/264/alex_allan_sculpture-7_straight_cropped.jpg</umbracoFile>
            <umbracoWidth>440</umbracoWidth>
            <umbracoHeight>540</umbracoHeight>
            <umbracoBytes>51077</umbracoBytes>
            <umbracoExtension>jpg</umbracoExtension>
            <cropped>
              <crops date="2013-02-20T12:28:07">
                <crop name="cropThumb" x="0" y="0" x2="440" y2="440" url="/media/264/alex_allan_sculpture-7_straight_cropped_cropThumb.jpg" />
              </crops>
            </cropped>
          </Image>
        </mediaItem>
      </DAMP>
    </homepageCarousel>
    <autoPlay>1</autoPlay>
    <timeout>4500</timeout>
    <contactEmail />
    <googleAnalytics><![CDATA[]]></googleAnalytics>
    <xmldumpAllowedIPs>127.0.0.1</xmldumpAllowedIPs>
    <umbracoNaviHide>0</umbracoNaviHide>
    <umbracoRedirect />
    <umbracoUrlName />
    <umbracoUrlAlias />
    <umbracoInternalRedirectId />
    <metaTitle />
    <metaDescription><![CDATA[]]></metaDescription>
    <metaKeywords><![CDATA[]]></metaKeywords>
  </Homepage>
</root>