<DocTypeFieldsets>
    <ContentTypes>
        <contentType id="1053">
            <GenericProperties>
                <add alias="autoPlay" fieldset="Carousel settings" />
                <add alias="timeout" fieldset="Carousel settings" />
                <add alias="transitionSpeed" fieldset="Carousel settings" />
                <add alias="slideItemWidth" fieldset="Carousel settings" />
                <add alias="siteName" fieldset="Site settings" />
                <add alias="contactEmail" fieldset="Site settings" />
                <add alias="rssStartNode" fieldset="Site settings" />
                <add alias="googleAnalytics" fieldset="Site settings" />
                <add alias="xmldumpAllowedIPs" fieldset="Site settings" />
                <add alias="twitter" fieldset="Site settings" />
                <add alias="facebook" fieldset="Site settings" />
                <add alias="facebookAppId" fieldset="Site settings" />
                <add alias="facebookUserId" fieldset="Site settings" />
            </GenericProperties>
        </contentType>
    </ContentTypes>
</DocTypeFieldsets>