// Your custom settings file to override Foundation defaults
@import "base";
@import "settings";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing
@import "compass/css3/pie";
@import "compass/css3";
@import "foundation/settings";
@import "foundation/functions/all";

@import "foundation/mixins/clearfix";
@import "foundation/mixins/css-triangle";
@import "foundation/mixins/font-size";

@import "modular-scale";
@import "foundation/common/globals";
@import "foundation/common/typography";

@import "touchcarousel";

$spriteImg: "";

.lt-ie9 {    
    .row, .columns {
        // IE7 fix for
        // box-sizing: border-box;
        *behavior: url("/css/boxsizing.htc");
    }
}
.clearfix {
    @include myClearfix;
}
div {
    position: relative;
}
.noborder {
    border-color: transparent !important;
    border-style: none !important;
    border-width: 0 !important;
}
.btn-notxt {
    *font-size: 0px;
    *line-height: 0px;
}
.wrapper {
    padding: 25px 0;
}
header {
    padding-left: 60px;
}
a#logo {
    @include imgRep(225,93,'/css/images/alexallan-logo.gif');
}

/******************************************************\
 *
 * HOMEPAGE CAROUSEL
 *
\******************************************************/

#carousel-gallery {
    width: 100%;
    height: 540px;
    margin: 0;
    padding: 15px 0;
    background: #EFEFEF;
    overflow: hidden !important;
    
    .touchcarousel-wrapper {
        overflow: visible;
        margin-left: 80px;
    }
    .touchcarousel-item {
        margin-right: 15px;		
        background: #CCC;	
        height: 400px;
    }
    .arrow-icon.left {
        left: 25px;				
    }
    .arrow-icon.right {
        right: 25px;			
    }
    .arrow-holder {
        width: 60px;	
    }
    .scrollbar-holder {
        bottom: 6px;
    }
}		


// Custom responsive tweaks
@media only screen and (min-width: 768px) {
    
}
@media only screen and (max-width: 767px) {
    
}
@media only screen and (max-width: 359px) {
    
}