// Your custom settings file to override Foundation defaults
@import "base";
@import "settings";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing
@import "compass/css3/pie";
@import "compass/css3";
@import "foundation/settings";
@import "foundation/functions/all";

@import "foundation/mixins/clearfix";
@import "foundation/mixins/css-triangle";
@import "foundation/mixins/font-size";

@import "modular-scale";
@import "foundation/common/globals";
@import "foundation/common/typography";

@import "touchcarousel";


$ink: #31363c;
$blood: #ad1e25;
$gold: #ff8d00;
$spriteImg: "";

.lt-ie9 {    
    *, *:before, *:after {
        // IE7 fix for
        // box-sizing: border-box;
        *behavior: url("/css/boxsizing.htc");
    }
}
::selection {
    background-color: lighten(desaturate($blood,20%),5%);
    background-color: rgba(173,30,37,.9);
    color: $white;
}
::-moz-selection {
    background-color: lighten(desaturate($blood,20%),5%);
    background-color: rgba(173,30,37,.9);
    color: $white;
}
.no-flicker {
    @include transform(translate3d(0, 0, 0));
}
.clearfix {
    @include myClearfix;
}
div {
    position: relative;
}
.noborder {
    border-color: transparent !important;
    border-style: none !important;
    border-width: 0 !important;
}
.btn-notxt {
    *font-size: 0px;
    *line-height: 0px;
}
a {
    color: lighten(desaturate($blood,20%),5%);
    border-bottom: 1px dotted lighten($ink,55%);
    border-bottom-color: rgba(49,54,60,.25);
}
a:focus, a:hover {
    border-bottom: 1px dotted lighten(desaturate($blood,20%),5%);
    border-bottom-color: rgba(173,30,37,.9);
    color: $blood;
}
a:active {
    background-color: lighten(desaturate($blood,20%),5%);
    background-color: rgba(173,30,37,.9);
    color: $white;
}
a:link {
    //-webkit-tap-highlight-color: rgba(173,30,37,.9);
}
#logo-wrapper {
    padding: 20px 0 15px 80px;
    h1 {
        margin: 0;
    }
}
#logo {
    @include imgRep("/css/images/alexallan-logo.gif",231px,98px);
    @include image-2x("/css/images/alexallan-logo-x2.gif",231px,98px);
}
#copyrights {
    padding: 15px 0 0 80px;
    p {
        margin: 0;
        font-family: $headerFontFamily;
    }
}
a.mailto {
    font-weight: bold;
}

#content-wrap {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 15px 0;
    background-color: lighten($ink, 75%);
    background-color: rgba(49,54,60,.05);
    overflow: hidden;
}

/******************************************************\
 *
 * HOMEPAGE CAROUSEL
 *
\******************************************************/

#homepage-carousel {
    width: 100%;
    height: 540px;
    overflow: hidden !important;
    
    .touchcarousel-wrapper {
        overflow: visible;
        margin-left: 80px;
    }
    .touchcarousel-item {
        margin-right: 15px;
        background-color: lighten($ink,55%);
        background-color: rgba(49,54,60,.25);
        background-image: url("/css/images/placeholder-logo.png");
        @include background(url("/css/images/placeholder-logo.png"),radial-gradient(50% 50%, lighten($ink,65%) 0px, lighten($ink,60%) 100%));
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 540px;
        overflow: hidden;
        @include perspective(1000);
        &.last {}
        &.has-overlay {
            img, .mask, .mask h2, .mask p, .mask a.peek {
                @include transform-style(preserve-3d);
                @include backface-visibility(hidden);
            }
            img {
                display: block;
                position: relative;
                @include transition(all 0.2s linear);
            }
            .mask {
                position: absolute;
                top: 0;
                left: 0;
                text-indent: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                @include opacity(0);
                @include transition(all 0.4s ease-in-out);
                background-color: $ink;
                background-color: rgba(49,54,60,.9);
                h2, p {                
                    position: relative;
                    color: $white;
                    text-align: center;
                }
                h2 {
                    text-transform: uppercase;
                    font-size: 23px;
                    padding: 14px;
                    margin: 37px 0 0 0;
                    text-shadow: 0px 1px 3px darken(desaturate($blood,20%),15%);
                    background-color: lighten(desaturate($blood,20%),5%);
                    background-color: rgba(173,30,37,.8);
                    @include translateY(-100px);
                    @include opacity(0);
                    @include transition(all 0.2s ease-in-out);
                }
                p {
                    padding: 59px 23px 23px;
                    @include translateY(25px);
                    @include opacity(0);
                    @include transition(all 0.2s linear);
                }
                a.peek {
                    @include imgRep("/css/images/peek-lrg.png",60px,32px,50%,0px);
                    @include image-2x("/css/images/peek-lrg-2x.png",60px,32px);
                    width: 100%;
                    position: absolute;
                    bottom: 44px;
                    @include opacity(0);
                    @include scale(1.1);
                    @include transition-property(opacity, transform);
                    @include transition-duration(0.4s);
                    @include transition-timing-function(ease-in-out);                
                }
            }
        }
    }
    .arrow-icon {
        background-color: lighten($ink,10%);
        background-color: rgba(49,54,60,.7);
        &.left {
            left: 25px;
        }
        &.right {
            right: 25px;
        }
    }
    .arrow-holder {
        width: 65px;
        @extend .noborder;
        &:hover .arrow-icon {
            background-color: $ink;
            background-color: rgba(49,54,60,.9);
        }
        &:active {
            background-color: transparent;
            .arrow-icon {
                background-color: lighten(desaturate($blood,20%),5%);
                background-color: rgba(173,30,37,.9);
            }
        }
        &:focus {
            outline: none;
            background-color: transparent;
            .arrow-icon {
                background-color: lighten(desaturate($blood,20%),5%);
                background-color: rgba(173,30,37,.9);                
            }
        }
        &.disabled {
            .arrow-icon {
                background-color: lighten($ink,60%);
                background-color: rgba(49,54,60,.2);
            }
            &:hover .arrow-icon, &:focus .arrow-icon {
                background-color: lighten($ink,55%);
                background-color: rgba(49,54,60,.25);                
            }
        }
        &:link {
            -webkit-tap-highlight-color: rgba(0,0,0,0);
        }
    }
    .scrollbar-holder {
        bottom: 6px;
        .scrollbar {
            &.dark {
                background-color: lighten($ink, 30%);
                background-color: rgba(49,54,60,.7)
            }
        }
    }
}
.no-touch {
    #homepage-carousel {
        .touchcarousel-item {
            &.has-overlay {
                &:hover {
                    img {
                        @include scale(1.1);
                    }
                    .mask {
                        @include opacity(1);
                        h2, p {
                            @include opacity(1);
                            @include translateY(0px);
                        }
                        p {
                            @include transition-delay(0.1s);
                        }
                        a.peek {
                            @include opacity(1);
                            @include scale(1);
                            @include transition-delay(0.2s);
                            &:hover {
                                background-position: 50% -32px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.touch {
    #homepage-carousel {
        .touchcarousel-item {
            &.has-overlay {
                &.tapped {
                    img {
                        @include scale(1.1);
                    }
                    .mask {
                        @include opacity(1);
                        h2, p {
                            @include opacity(1);
                            @include translateY(0px);
                        }
                        p {
                            @include transition-delay(0.1s);
                        }
                        a.peek {
                            @include opacity(1);
                            @include scale(1);
                            @include transition-delay(0.2s);
                            &:hover {
                                background-position: 50% -32px;
                            }
                        }
                    }
                }
            }
        }
    }    
}


/******************************************************\
 *
 * EVENTS
 *
\******************************************************/
#map-wrap {
    height: 540px;
    overflow: hidden;
    border-top: 1px solid lighten($ink,65%);
    border-bottom: 1px solid lighten($ink,65%);
    border-top-color: rgba(49,54,60,.1);
    border-bottom-color: rgba(49,54,60,.1);
    background-color: lighten($ink,55%);
    background-color: rgba(49,54,60,.25);
    background-image: url("/css/images/placeholder-logo.png");
    @include background(url("/css/images/placeholder-logo.png"),radial-gradient(50% 50%, lighten($ink,65%) 0px, lighten($ink,60%) 100%));
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
span#re-align {
    @include imgRep('/css/images/map-bullseye.png',25px,25px);
    position: absolute;
    right: 9px;
    top: 276px;
    cursor: pointer;
}
.touch {
    span#re-align {
        top: 9px;
    }
}
.map-overlay {
    position: absolute;
    top: 0;
    left: 65px;
    padding: 37px 23px 23px;
    width: 338px;
    height: 100%;
    background-color: $white;
    background-color: white(.9);
    @include box-shadow(0px 0px 17px -2px rgba(49,54,60,.3));
    h1 {
        margin-top: 0;
        margin-bottom: 23px;
        color: $blood;
        text-shadow: 1px 1px 3px rgba(49,54,60,.3);
    }
    .event-details {
        margin-bottom: 17px;
        p {
            margin: 0;
            color: lighten($ink,25%);
        }
        span {
            font-weight: bold;
        }
    }
}


// Custom responsive tweaks
@media only screen and (min-width: 768px) {
    
}
@media only screen and (max-device-width: 767px) {
    #homepage-carousel {
        .touchcarousel-item {
            @include background(url("/css/images/placeholder-logo.png"));
            @include image-2x("/css/images/placeholder-logo-2x.png",32px,100px);
            background-color: rgba(49,54,60,.25);
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }
    }
    #map-wrap {
        @include background(url("/css/images/placeholder-logo.png"));
        @include image-2x("/css/images/placeholder-logo-2x.png",32px,100px);
        background-color: rgba(49,54,60,.25);
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    span#re-align {
        @include image-2x("/css/images/marker-bullseye-2x.png",25px,25px);        
    }
}
@media only screen and (max-device-width: 359px) {
    #logo-wrapper {
        text-align: center;
        padding-left: 0;
        #logo {
            margin: auto;
        }
    }
    #homepage-carousel {
        height: auto;
        padding: 15px 10px;
        .touchcarousel-wrapper {
            margin-left: 40px;
        }
        .touchcarousel-item {
            margin: 0 0 15px 0;
            height: auto;
            img {
                width: 100%;
                height: auto;
            }
            &:last-child {
                margin: 0;
            }
        }
        .arrow-holder {
            width: 40px;
        }
        .arrow-icon {
            &.left {
                left: 5px;
            }
            &.right {
                right: 5px;
            }
        }
    }
    #copyrights {
        text-align: center;
        padding: 25px 0;
    }
}